<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1 style="color:blue">method-1 this method will not work if we are storing the templates directory 
        in different path other than we specified</h1>
    <h1 style="color:green">method-2 this method representation of pathwill not work in all type of operating </h1>    
    </center>
</body>
</html>